.btn {
   height: 48px;
   font-family: $font-family;
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   text-transform: capitalize;
   color: #fff;
   border-radius: 5px;
   transition: all 0.1s ease-out;

   &-main {
      width: 111px;
      min-width: 111px;
      background: #7f3a6a;
      @media (hover: hover) {
         &:hover {
            background: #e9a923;
         }
      }
   }

   &-second {
      width: 170px;
      min-width: 170px;
      background: #e9a923;
      @media (hover: hover) {
         &:hover {
            color: #7f3a6a;
            background: #fff;
         }
      }
   }
}
