.btn {
   height: 48px;
   font-family: $font-family;
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   text-transform: capitalize;
   color: $main-white-color;
   border-radius: 5px;
   transition: all 0.1s ease-out;

   &-main {
      width: 111px;
      min-width: 111px;
      background: $main-color;
      @media (hover: hover) {
         &:hover {
            background: $secondary-color;
         }
      }
   }

   &-second {
      width: 170px;
      min-width: 170px;
      background: $secondary-color;
      @media (hover: hover) {
         &:hover {
            color: $main-color;
            background: $main-white-color;
         }
      }
   }
}
