.info-block {
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: calc(121 * 100% / 1140);

   &__info {
      width: 100%;
      max-width: 558px;
   }

   &__logo {
      width: 100%;
      height: 100%;
      max-width: 461px;
      max-height: 461px;

      > img {
         display: block;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}
