.row {
   padding: 16px 0;
   &_bg {
      &_byzantium {
         background-color: $main-color;
      }

      &_harvest-gold {
         background-color: $secondary-color;
      }
   }

   &__sliding {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      column-gap: 37px;
      animation-name: running-row;
      animation-duration: 20s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
   }

   &__txt {
      font-family: $second-family;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      text-transform: uppercase;
      color: $main-white-color;
      flex: 1 0 auto;
   }

   &__img {
      width: 193px;
      flex: 1 0 auto;
      overflow: hidden;

      > img {
         display: block;
         height: 100%;
         width: 100%;
         object-fit: contain;
      }
   }

   @media screen and (max-width: 768px) {
      padding: 12px 0;

      &__img {
         width: 125px;
      }

      &__txt {
         font-size: 16px;
      }
   }
}
