$main-white-color: #fdfcfc;
$main-color: #7f3a6a;
$secondary-color: #e9a923;

$txt-title-color: #313131;
$txt-color: #585858;
$txt-white-color: #ffffff;

$bg-color-1: #f9f1ee;
$bg-color-2: #f1e9ee;

// FONTS
$font-family: "Open Sans", sans-serif;
$second-family: "Exo", sans-serif;
