$main-white: #fdfcfc;

$header-color: #313131;
$txt-color: #585858;

$decorate-color: #e9a923;

$bg-color-1: #7f3a6a;
$bg-color-2: #e9a923;
$bg-color-3: #f9f1ee;
$bg-color-4: #f1e9ee;

// FONTS
$font-family: "Open Sans", sans-serif;
$second-family: "Exo", sans-serif;
