.header {
   &__wrapper {
      padding: 24px 0;
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
   }

   &__logo {
      margin-right: 30px;
   }

   &__nav {
      display: flex;
      max-width: 555px;

      .nav__menu {
         margin-right: 64px;
      }
   }

   &__burger-open {
      display: none;
   }

   &__nav-header {
      display: none;
   }

   &__menu-wrapper {
      display: flex;
   }
}

@media screen and (max-width: 992px) {
   .header {
      &__nav {
         .nav__menu {
            column-gap: 34px;
            margin-right: 46px;
         }
      }
   }
}

@media screen and (max-width: 768px) {
   .header {
      &__nav {
         position: fixed;
         top: 0;
         right: -100%;
         z-index: 100;

         width: 100%;
         max-width: none;
         height: 100%;

         flex-direction: column;
         align-items: center;

         padding: 0 16px;
         margin: 0;

         background-color: $main-white-color;
         transition: right 0.3s ease-in;

         &:target {
            right: 0%;
         }

         .nav__menu {
            flex-direction: column;
            row-gap: 25px;
            margin-right: 0;
         }
      }

      &__menu-wrapper {
         flex-direction: column;
         justify-content: center;
         row-gap: 32px;
         height: 100%;
      }

      &__nav-header {
         display: flex;
         justify-content: space-between;
         align-items: center;
         width: 100%;
         padding: 24px 0;
      }

      &__burger-open {
         display: block;
         cursor: pointer;

         svg {
            display: block;
         }
      }
   }
}
